body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif ;
}
h2 {
    font-size: 25px;
    animation: color-change-h1 3s infinite;
}
@keyframes color-change-h1 {
    0% {
        color: #e6009d;
    }
    50% {
        color: blue;
    }
    100% {
        color: rgb(23, 55, 23);
    }
}

#input-el {
    background-color:  #baceca;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
#input-el:focus {
    background-color: #fff;
    border: none;
}
#input-btn {
    color: #fff;
    background-color: rgb(28, 57, 28);
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;

}
ul {
    margin-top: 20px;
   font-size: 20px;
   list-style: none;
   padding-left: 0;
}
ul li {
    margin-top: 5px;
    color: rgb(26, 49, 26);

}
li a { 
    color: rgb(30, 62, 30);
}