body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
    background: url(./44.png) no-repeat;
    background-size: cover;
    background-repeat: none;
    /* background-color: rgb(36, 40, 41); */
}
h2 {
    font-size: 25px;
    font-family: cursive;
    /* color: white; */
    animation: color-change-h1 3s infinite;
}
#input-el {
    background-color:  #fff;
    width: 420px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
}
#input-btn {
    width: 130px;
    height: 30px;
    border: none;
    font-weight: bold;
    color: #eee;
    background-color: aqua;
    font-family: cursive;
    cursor: pointer;
}
#input-btn:hover {
    background-color: #fff;
    color: aqua;
    border: 1px solid aqua;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
ul {
    margin-top: 20px;
   font-size: 20px;
   list-style: none;
   padding-left: 0;
}
ul li {
    margin-top: 5px;
    color: rgb(26, 49, 26);
}
li a { 
    color: rgb(30, 62, 30);
}